<div class="landing-main-background">
  <header>
    <div class="landing-header-container">
      <div class="landing-header-contacts-container">
        <span class="landing-header-center">Call Us Today!</span>
        <span class="landing-header-center">917-900-5234</span>
        <img class="landing-header-contacts-social-links" src="./images/facebook.png" alt="">
        <img class="landing-header-contacts-social-links" src="./images/twitter.png" alt="">
        <img class="landing-header-contacts-social-links" src="./images/yelp.png" alt="">
        <img class="landing-header-contacts-social-links" src="./images/google.png" alt="">
      </div>
      <div class="landing-header-logo-container">
        <img class="landing-header-logo" src="./images/whitehorn-rhino-start.png" alt="">
        <div class="landing-header-logo-text">
          <p >Whitehorn Remodeling</p>
        </div>
      </div>
    </div>
  </header>
  <!-- <nav>
  <div class="">
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Projects</a>
  <a href="#">Contact</a>
</div>
</nav> -->
<main>
  <div class="landing-main-transparent"></div>
  <div class="landing-main-sec-1">Accountability From Start To Finish!</div>
  <div class="landing-main-sec-2">
    <p>
      <span>Renovations in New York</span>
      <span>It's a classic case of the left hand not knowing what the right hand is doing. A designer or architect comes up with a beautiful plan for a kitchen, bath or whole home renovation. Then when it comes time for a contractor to execute the plan, all he can say is "what were they thinking?" A Squared Interiors Ltd. will be like a breath of fresh air. With experience in both design and building, we'll make a plan for your home or office remodel that's not only dazzling, but doable.
      </span>
    </p>
  </div>
  <div class="landing-main-sec-3">
    <div>
      <span>Island fever</span>
      <span>
        A Squared Interiors Ltd. doesn't care whether you own a loft in Little Italy or a shotgun shack in SoHo. If your project is located anywhere on the island of Manhattan, NY, we can help you bring it from fantasy to fruition! Satisfied customers are our bread and butter, and we have lots of them under our belt. We would be honored to count you as one of them, and look forward to the opportunity to earn your business. Call today to discuss your residential or commercial renovation.
      </span>
    </div>
    <div>
      <span>Both sides of the coin</span>
      <span>
        Ask any contractor what their biggest pet peeve is, and they'll probably tell you it's designers who come up with grandiose plans, with nary a clue as to how they'll be carried out. Not to mention, what it will cost. At A Squared Interiors Ltd., we have some of the best interior designers in New York and the most experienced builders. Together, we come up with brilliant ideas that are practical, too. No job is too large or too small, so call today for a free consult!
      </span>
    </div>
  </div>

  <div class="landing-main-sec-4">
    <p>Call today for a free consultation!</p>
  </div>

  <div class="landing-main-sec-5">
    <p>
      <span>Let's get to work</span>
      <span>
        A Squared Interiors Ltd. is eager to get your interior design or renovation project off the ground. We offer free initial consultations and will always give you straight, honest answers about the feasibility and cost of your project. Call us, shoot us an e-mail, or stop by our office at 42 Park Terrace East in New York City to make an appointment.
      </span>
    </p>
    <img src="./images/background-image.jpg" alt="">
  </div>

  <!-- <div class="">
  <video src="videofile.ogg" autoplay poster="posterimage.jpg"></video>
</div> -->

</main>

<footer>

  <div class="">
    <p>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </p>
    <div class="">
      <a href="../images/circle_social-facebook-glyph-128.png"></a>
      <a href="../images/twitter-icons-02.png"></a>
      <a href="../images/yelp-150x150.png"></a>
      <a href="../images/googleplus_icon-icons.com_59210.png"></a>
    </div>

  </div>

</footer>
</div>
